apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api/message
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 80
